body {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: flex-start;
}

main {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    width:120px;
    border: 2px solid black;
}

h5 {
    margin-top:5px;
    margin-bottom:5px;
}

.pixelGrid {
    border: 1px solid black;
}

.pixel {
    display: inline-block;
    width:10px;
    height:10px;
    border: 1px solid gray;
}

.styleBlack {
    background-color: black;
}

.styleBlue {
    background-color: blue;
}

.styleRed {
    background-color: red;
}

.styleGreen {
    background-color: green;
}

.stylePurple {
    background-color: purple;
}

.styleYellow {
    background-color: yellow;
}

.styleOrange {
    background-color: orange;
}

.styleTurquoise {
    background-color: turquoise;
}

.styleGray {
    background-color: gray;
}

.styleTan {
    background-color: tan;
}

.styleWhite {
    background-color: white;
}

.colorWheel {
    background-color: white;
}

.selectors {
    height: 25px;
    padding: 3px;
}

.selectors p {
    margin-top: 3px;
    margin-bottom:3px;
}

.selected {
    border: 1px solid gray;
    margin: 3px;
    height: 25px;
}